<dom-module id="carecard-cta-dialog">
  <link rel="import" href="../../../bower_components/polymer/polymer.html">
  <link rel="import" href="../../../bower_components/paper-styles/default-theme.html">
  <link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
  <link rel="import" href="../../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
  <link rel="import" href="../../../bower_components/paper-input/paper-input.html">
  <link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">

  <link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">

  <link rel="import" href="../../../bower_components/iron-form-element-behavior/iron-form-element-behavior.html">
  <link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">
  <link rel="import" href="../../../bower_components/paper-button/paper-button.html">
  <link rel="import" href="../../../bower_components/gold-email-input/gold-email-input.html">
  <link rel="import" href="../../../bower_components/gold-phone-input/gold-phone-input.html">


  <link rel="import" type="css" href="./carecard-cta-dialog.css">
  <template>
    
    <iron-ajax id="sendSMSInfo"
       url="/api/v1/sms"
       handle-as="json"
       method="post"
       content-type="application/json"
       on-response="handleSMSResponse"></iron-ajax>
    
    <paper-dialog id="ctaInput" with-backdrop=true>
      <h2>care<span class="accent">card</span></h2>
      <h3>Select how you'd like to receive your carecard.</h3>
      
      <paper-tabs selected="{{selectedTab}}">
        <paper-tab>Print</paper-tab>
        <paper-tab>Email</paper-tab>
        <paper-tab>Text</paper-tab>
      </paper-tabs>
      <iron-pages id="tabContent" selected="{{selectedTab}}" >
        <section name="print">
          <img src="../graphics/carecard_email_sms.png"></img>
          <div>
            <paper-button raised><a href="/src/sections/graphics/carecard_print.pdf" target="_blank">Print Now</a></paper-button>
          </div>
        </section>
        <section name="email">
          <div>
            <paper-input id="name-input" label="Full Name*" no-label-float=true required></paper-input>
            <gold-email-input label="Email*" no-label-float=true required></gold-email-input>
          </div>
          <paper-button raised>Send free card</paper-button>
        </section>
        <section name="sms">
          <form is="iron-form" id="smsForm" method="post" action="/api/v1/sms">
            <gold-phone-input name="phone" no-label-float=true required></gold-phone-input>
            <paper-button raised on-click="submitForm">Send free card</paper-button>
          </form>
        </section>
      </iron-pages>

      <paper-dialog-scrollable>
        
      </paper-dialog-scrollable>
            <div id="close-dialog" onclick="ctaInput.close()">
        <svg viewBox="0 0 100 100" class="octicon octicon-x"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/src/sections/graphics/sprite.octicons.svg#x" class="style-scope catalog-element"></use> </svg>
      </div>
    </paper-dialog>
    
  </template>
  <script>
    Polymer({
      properties: {
        selectedTab: {
          type: String,
          value: 2
        }
      },
      is: 'carecard-cta-dialog',
      attached: function() {
        console.log("Dialog ready");
      },
      submitForm: function(ev) {
        let {
          target: {
            parentElement: form
          }
        } = ev;
        // form.submit();
        let formData = (new FormData(form));
        this.$.sendSMSInfo.body = {
          "phone": `${formData.get('phone')}`
        };
        this.$.sendSMSInfo.generateRequest();
      },
      handleSMSResponse: function() {
        this.$.ctaInput.close();
      }
    });
  </script>
</dom-module>