:root * {
  box-sizing: border-box;
  font-family: "Montserrat";
}

:host {
  font-family: "Montserrat";
  --app-primary-color: #ee5c56;
  --primary-color: #ee5c56;
  --app-secondary-color: #525262;
  --secondary-color: #525262;
  --section-bg-grey: #f1f1f1;

  --white-color: #fff;
  --light-blue-color: #04b8ff;
  --font-color: #0e0048;
  --app-primary-color: var(--light-blue-color);
}

paper-dialog {
  padding: 40px 0px 90px;
  padding-top: 0px;
}

@media(min-width: 600px) {
  paper-dialog {
    padding: 100px;
    padding-top: 0px;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

h2 {
  color: var(--app-secondary-color);
  font-size: 2.5em;
  font-weight: 800;
  text-align: center;
}

span.accent {
  color: var(--app-primary-color);
}

#close-dialog {
  width: 40px;
  height: 40px;
  position: absolute;
  left: -16px;
  top: -16px;
  background: white;
  border: 1px solid #ededed;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#close-dialog svg {
  height: 20px;
  width: 20px;
  color: hsl(0, 0%, 40%);
}

h3 {
  font-weight: 500;
  font-size: 1.9em;
  color: var(--app-primary-color);
  margin: 50px auto 45px auto;
  font-weight: 500px;
}

h5 {
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: 400;
}

h3,
h5 {
  width: 400px;
  max-width: 100%;
  text-align: center;
  line-height: 1.3;
  color: var(--font-color);
}

.details {
  margin-top: 50px;
}