:root * {
  box-sizing: border-box;
  font-family: "Montserrat";
}

:host {
  font-family: "Montserrat";
  --app-primary-color: #ee5c56;
  --primary-color: #ee5c56;
  --app-secondary-color: #525262;
  --secondary-color: #525262;
  --section-bg-grey: #f1f1f1;

  --white-color: #fff;
  --light-blue-color: #04b8ff;
  --lighter-blue-color: #34c3fb;
  --font-color: #0e0048;
  --app-primary-color: var(--light-blue-color);
}

paper-dialog {
  font-family: "Montserrat";
  text-align: center;
  width: 650px;
  max-width: 100%;
  padding: 60px 0;
  background-color: var(--section-bg-grey);
}

.dialog-inner {
  width: 440px;
  max-width: 100%;
  margin: 0 auto;
}

paper-dialog .contents {
  display: flex;
}

paper-tabs {
  margin: 20px auto;
}

paper-tab {

  --paper-tab: {
    background-color: #FFF;
    color: var(--font-color);
    border: 0px solid;
    border-radius: 6px;
    margin: 0 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
  }
}

paper-tab[link] a {
  @apply(--layout-horizontal);
  @apply(--layout-center-center);
  color: var(--font-color);
  text-decoration: none;
}

section[name="print"] img {
  width: 338px;
  max-width: 100%;
}

paper-button a {
  @apply(--layout-horizontal);
  @apply(--layout-center-center);
  color: #FFF;
  text-decoration: none;
}

paper-tab.iron-selected {
  background-color: var(--font-color);
  color: #FFF;
  border: 0;
}

iron-pages paper-button {
  display: block;
  padding: 16px;
  color: white;
  background-color: var(--light-blue-color);
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 20px auto;
  width: 400px;
  max-width: 100%;
  box-shadow: none;
  margin-top: 15px;
}

iron-pages paper-button:hover {
  background-color: var(--lighter-blue-color);
}

:global(.floated-label-placeholder) {
  display: none;
}

.form-section {
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

gold-phone-input,
gold-email-input,
#name-input {
  max-width: 400px;
  margin: 5px auto;
  text-align: left;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1);
  border: 0;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  background-color: white;

  --paper-input-container: {
    padding: 0;
  }
  --paper-input-container-input: {
    padding: 10px 20px;
  }
  --paper-input-container-label: {
    display: none;
  }
  --paper-input-container-underline: {
    display: none
  }
  --paper-input-container-underline-focus: {
    display: none
  }
}

#close-dialog {
  width: 40px;
  height: 40px;
  position: absolute;
  left: -16px;
  top: -16px;
  background: white;
  border: 1px solid #ededed;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#close-dialog svg {
  height: 20px;
  width: 20px;
  color: hsl(0, 0%, 40%);
}