paper-button {
  background-color: #f05955;
  --paper-button-ink-color: #EFF;
  border-radius: 30px;
  text-transform: uppercase;
  color: #FFF;
  padding: 10px 20px;
  margin: 10px 0;
  font-weight: 800;
  letter-spacing: 1.5px;
  font-size: 12px;
  line-height: 1.5;
  float: right;
}

paper-button,
paper-button[animated] {
  transition: all 350ms ease-in-out;
  box-shadow: none !important;
}

paper-button:hover {
  background-color: #f05955;
  color: #fff;
  /*border-color: #f05955;*/
}