:host {
  --white-color: #fff;
  --primary-color: #ee5c56;
  --secondary-color: #525262;
  --section-bg-grey: #f1f1f1;
  --input-background-color: #FFF;
  text-align: left;
  display: flex;
  width: 100%;
}

paper-autocomplete {
  width: 100%;
  position: relative;

  --paper-input-container-input: {
    background-color: var(--input-background-color);
    padding: 14px 14px 14px 40px;

    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1);
    font-family: inherit;
    --secondary-text-color: var(--secondary-color);
    font-size: 16px;
    border: 0;
    line-height: 1.4;
    box-sizing: border-box;
    margin: 0;
  };
  --paper-input-container-focus-color: var(--secondary-color);
  --paper-input-container-color: {
    color: var(--secondary-color);
  };
  --paper-input-container-underline: {
    display: none;
  };
  --paper-input-container-underline-focus: {
    color: var(--secondary-color);
  };
  --paper-input-container-underline-disabled: {
    display: none;
  };
  --paper-input-suffix,
  --layout-flex-none {
    margin-top: 0px;
  };
}

paper-input {
  --paper-input-container-input: {
    background-color: var(--input-background-color);
    padding: 10px 20px;
    --secondary-text-color: var(--secondary-color);
  };
  --paper-input-suffix,
  --layout-flex-none {
    margin-top: 0px;
  };
  --paper-input-container-underline: {
    display: none;
  };
}

:global(.floated-label-placeholder) {
  display: none;
}

.paper-autocomplete-0 #clear.paper-autocomplete {
  margin-top: 0px;
}