:root {
  font-family: "Montserrat";
  --paper-font-common-base: {
    font-family: 'Montserrat', 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  ;
  color: var(--font-color);
}

:root * {
  box-sizing: border-box;
}

:host {
  background-color: #FFF;
  display: block;
  --white-color: #fff;
  --light-blue-color: #04b8ff;
  --font-color: #0e0048;
  --app-primary-color: var(--light-blue-color);
  --app-secondary-color: #525262;
  --section-bg-grey: #f1f1f1;
  --section-bg-teal: #e1f3fc;
  --paper-icon-button-ink-color: var(--app-secondary-color);
  font-family: "Montserrat";
  background-color: transparent;
  overflow-x: hidden;
  --primary-font: 'Montserrat', 'Lato', sans-serif;
  --paper-font-common-base: {
    font-family: var(--primary-font);
    -webkit-font-smoothing: antialiased;
  }
  ;
  --secondary-text-color: #848383;
  color: var(--app-secondary-color);
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat";
  font-weight: 600;
}

h2 {
  text-align: center;
}

iron-input,
paper-input {
  font-family: var(--primary-font);
}

app-toolbar.menu-bar {
  color: var(--app-primary-color);
  justify-content: space-between;
}

app-drawer {
  --app-drawer-content-container: {
    /*background-color: var(--app-primary-color);*/
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  ;
}

app-drawer carecard-cta-button {
  margin: auto 14px;
}


/*carecard-cta-button {
        position: absolute;
        left: 30px;
      }*/

app-header {
  background-color: var(--white-color);
}

.nav-menu {
  background-color: var(--white-color);
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.nav-menu>a {
  display: block;
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 500;
}

.nav-menu>a.iron-selected {
  background-color: #888;
}

.title-toolbar {
  @apply(--layout-center-center);
  box-sizing: border-box;
}

.nav-title-toolbar {
  color: #fff;
  width: 100vw;
}

.main-title-toolbar {
  width: 100%;
}

.title {
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 600;
}

.title h2 {
  margin: 0 auto;
}

span.accent {
  color: var(--app-primary-color);
}

.category-page {
  min-height: 100vh;
}

paper-autocomplete {
  margin: 0 10px;
  max-width: 500px;
  width: 80%;
  flex: 0 1 auto;
  text-align: left;
  /*width: auto;*/
  --paper-input-container-input: {
    background-color: #FFF;
    padding: 10px 20px;
    --secondary-text-color: var(--app-secondary-color);
  }
  --paper-input-container-color: {
    color: var(--app-secondary-color);
  }
  --secondary-text-color: var(--app-secondary-color);
  --paper-input-container-underline: {
    display: none
  }
  --paper-input-container-underline-focus: {
    display: none
  }
  --paper-input-container-underline-disabled: {
    display: none
  }
}

.split-section {
  display: flex;
}

.split-section > * {
  flex: 1 0 50%;
  width: 50%;
}

@media (max-width: 767px) {
  .split-section {
    display: block;
  }
  .split-section > * {
    flex: 1 0 100%;
    width: 100%;
  }
}

.card-preview {
  background-color: var(--font-color);
  background-size: cover;
  background-position: center;
  padding-bottom: 45%;
  width: 100%;
  background-image: url('../sections/graphics/carecard-example.jpg');
}

@media (max-width: 767px) {
  .card-preview {
    padding-bottom: 60%;
  }
}


/* ----- « Discounts » ----- */

features-section,
partners-section,
carecard-signup,
carecard-footer {
  display: block;
}

.spacer {
  @apply(--layout);
  @apply(--layout-flex-auto);
  @apply(--layout-center-center);
}

.navItem:not(hidden) {
  @apply(--layout-self-start);
  margin: auto;
  width: 88px;
}

@media(min-width: 600px) {
  .navItem:not(hidden) {
    width: 350px;
    text-align: center;
  }
}

@media (max-width: 580px) {
  /* make title smaller to fit on screen */
  .title {
    font-size: 40px;
  }
}