:root {
  font-family: "Montserrat";
  --paper-font-common-base: {
    font-family: 'Montserrat', 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
  };
  --font-color: #0e0048;
  color: #0e0048;
  --white-color: #fff;
  --light-blue-color: #04b8ff;
  --app-primary-color: var(--light-blue-color);
  --app-secondary-color: #525262;
  --section-bg-grey: #f1f1f1;
  --section-bg-teal: #e1f3fc;
  --paper-icon-button-ink-color: #525262;
}

:root * {
  box-sizing: border-box;
}

:host {
  background-color: #FFF;
  display: block;
  font-family: "Montserrat";
  background-color: transparent;
  overflow-x: hidden;
  --primary-font: 'Montserrat', 'Lato', sans-serif;
  --paper-font-common-base: {
    font-family: var(--primary-font);
    -webkit-font-smoothing: antialiased;
  };
  --secondary-text-color: #848383;
  color: #525262;
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
}


body {
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.carecard-marker h4 {
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
}

.carecard-marker h2 {
  text-align: center;
  font-size: 24px;
  margin: 5px auto;
}

.carecard-marker span.accent {
  color: #ee5c56;
}

.carecard-marker h5 {
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat";
  font-weight: 600;
}

h2 {
  text-align: center;
}

iron-input,
paper-input {
  font-family: var(--primary-font);
}

app-toolbar.menu-bar {
  color: #04b8ff;
  justify-content: space-between;
}

.full-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 64px;
  z-index: 0;
  -webkit-overflow-scrolling: touch;
  background-color: white;
}

app-drawer {
  --app-drawer-content-container: {
    /*background-color: #04b8ff;*/
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  };
}

app-drawer carecard-cta-button {
  margin: auto 14px;
}

app-header {
  background-color: #FFF;
}

/* Navbar */

navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: white;
}

.nav-content {
  display: flex;
  padding: 0 20px;
  width: 100%;
}

.nav-logo {
  flex: 1 1 100%;
  text-align: center;
  padding-top: 12px;
}

.nav-end {
  flex: 0 0 210px;
}

.nav-end.last {
  text-align: right;
}

@media (max-width: 767px) {
  .nav-end {
    flex: 0 0 80px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}

a.logo {
  color: #0e0048;
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 600;
}

a.logo span.accent {
  color: #04b8ff;
}

a.mini-cta:hover {
  color: #0e0048;
}

a.mini-cta {
  color: #04b8ff;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-top: 10px;
  text-align: right;
  width: 80px;
}

.full-cta {
  display: none;
}

a.nav-toggler {
  position: relative;
  margin-top: 18px;
  display: block;
  height: 30px;
  width: 30px;
}

a.nav-toggler:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 12px;
  width: 26px;
  border-top: 2px solid #0e0048;
  border-bottom: 2px solid #0e0048;
  content: '';
  display: block;
}

a.nav-toggler:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 2px;
  width: 26px;
  background-color: #0e0048;
  content: '';
  display: block;
}

.drawer {
  background-color: rgba(230,230,230,0.95);
  top: 0;
  left: -500px;
  height: 100vh;
  position: absolute;
  width: 500px;
  transition: left 450ms ease-in-out;
  padding: 120px 60px;
  font-family: "Montserrat";
}

.drawer a.link {
  font-weight: 600;
  font-size: 28px;
  color: #0e0048;
  display: block;
  margin-bottom: 15px;
}

.drawer a.link:hover {
  color: #04b8ff;
  cursor: pointer;
}

.drawer.active {
  left: 0px;
}

a.drawer-close {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

a.drawer-close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  height: 2px;
  width: 24px;
  background-color: #0e0048;
  content: '';
  display: block;
}

a.drawer-close::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  height: 2px;
  width: 24px;
  background-color: #0e0048;
  content: '';
  display: block;
}

@media (max-width: 767px) {
  .drawer {
    left: -320px;
    width: 320px;
    padding: 75px 30px;
  }

  .drawer a.link {
    font-size: 22px;
  }
}

/* V1 */

.category-page {
  min-height: 100vh;
}

.split-section {
  display: flex;
}

.split-section > * {
  flex: 1 0 50%;
  width: 50%;
}

@media (max-width: 767px) {
  .split-section {
    display: block;
  }
  .split-section > * {
    flex: 1 0 100%;
    width: 100%;
  }
}

.card-preview {
  background-color: #0e0048;
  background-size: cover;
  background-position: center;
  padding-bottom: 45%;
  width: 100%;
  background-image: url('../sections/graphics/carecard-example.jpg');
}

@media (max-width: 767px) {
  .card-preview {
    padding-bottom: 60%;
  }
}


/* ----- « Discounts » ----- */

features-section,
partners-section,
carecard-signup,
carecard-footer {
  display: block;
}

.spacer {
  @apply(--layout);
  @apply(--layout-flex-auto);
  @apply(--layout-center-center);
}

.navItem:not(hidden) {
  @apply(--layout-self-start);
  margin: auto;
  width: 88px;
}

@media(min-width: 600px) {
  .navItem:not(hidden) {
    width: 350px;
    text-align: center;
  }
}

@media (max-width: 580px) {
  /* make title smaller to fit on screen */
  .title {
    font-size: 40px;
  }
}