:host {
  --app-secondary-color: #525262;
  --section-bg-grey: #f1f1f1;
  --paper-icon-button-ink-color: var(--app-secondary-color);
  font-family: "Montserrat";
  background-color: var(--section-bg-grey);
  max-width: 100vw;
  --secondary-text-color: #848383;

  --white-color: #fff;
  --light-blue-color: #04b8ff;
  --font-color: #0e0048;
  --app-primary-color: var(--light-blue-color);

  padding: 60px 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

:root * {
  box-sizing: border-box;
}

.header h2 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 25pt;
  margin-bottom: 1em;
}

img {
  display: inline-block;
  margin: 0 auto;
}

@media(min-width: 1200px) {
  .wrapper {
    flex: 1 1 50%;
    padding: 100px 40px 70px 40px;
  }
}

a.button {
  display: inline-block;
  font-size: 14px;
  padding: 16px 0px;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 700;
  background-color: var(--light-blue-color);
  color: var(--white-color);
  letter-spacing: 2.5px;
  border-radius: 5px;
}