:root * {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.carecard-marker h4 {
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
}

.carecard-marker h2 {
  text-align: center;
  font-size: 24px;
  margin: 5px auto;
}

.carecard-marker span.accent {
  color: #ee5c56;
}

.carecard-marker h5 {
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0;
}