:root * {
  box-sizing: border-box;
}

:host {
  font-family: "Montserrat";
  --app-primary-color: #ee5c56;
  --app-secondary-color: #525262;
  --light-blue-color: #04b8ff;
  --lighter-blue-color: #34c3fb;
  --section-bg-grey: #f1f1f1;
  display: block;
  background-color: var(--section-bg-grey);
  min-height: 85vh;
}

@media (max-width: 767px) {
  :host {
    min-height: 0;
  }
}

paper-dialog {
  width: 100%;
  max-width: 80vw;
  font-family: "Montserrat";
}

paper-dialog .contents {
  display: flex;
}

.title h2 {
  font-size: 2.5em;
  font-weight: 800;
  text-align: center;
}

span.accent {
  color: var(--app-primary-color);
}

#errorMessage {
  text-align: center;
}

carecard-rx-search-input {
  --input-background-color: white;
  --paper-input-container: {
    padding: 8px 0 0 0;
  };
  display: block;
  margin: 0 auto;
  padding-bottom: 0px;
}

carecard-rx-search-input paper-autocomplete {
  --paper-input-container-input: {
    background-color: white;
    padding: 10px 20px;
    --secondary-text-color: var(--app-secondary-color);
  };
  --paper-input-container-color: {
    color: var(--app-secondary-color);
  };
  --secondary-text-color: var(--app-secondary-color);
  --paper-input-container-underline: {
    display: none
  };
  --paper-input-container-underline-focus: {
    display: none
  };
  --paper-input-container-underline-disabled: {
    display: none
  };
}

.panel-inner {
  max-width: 100%;
  width: 600px;
  margin: 0 auto;
  padding: 60px 20px 120px;
}

@media (max-width: 767px) {
  .panel-inner {
    padding-top: 30px;
  }
}

.header {
  text-align: center;
  padding: 0 15px;
  margin-bottom: 30px;
}

.header label {
  display: inline-block;
  margin-bottom: 15px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1);
  padding: 16px 14px;
  border: 0;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  width: 100%;
  margin: 4px 0 0 0;
  display: block;
}

#medicationName {
  text-align: center;
}

iron-list {
}

.search-result-list-item {
  padding-bottom: 6px;
  paddi
  position: relative;
  cursor: pointer;
}

.search-result-list-item.selected {
  background-color: #ededed;
}

.search-result-list-item ul {
  background-color: white;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1);
  border-radius: 3px;
  padding: 25px 45px 25px 20px;
  justify-content: space-between;
  display: flex;
  list-style: none;
  margin: 0;
  width: 100%;
  position: relative;
}

.search-result-list-item ul::after {
  content: '';
  position: absolute;
  display: block;
  right: 23px;
  top: 50%;
  height: 12px;
  width: 12px;
  opacity: 0.35;
  transform: translateY(-50%) rotate(45deg);
  border-top: 3px solid var(--font-color);
  border-right: 3px solid var(--font-color);
  transition: 240ms ease-in-out;
}

.search-result-list-item ul:hover {
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  transition: 140ms ease-in-out;
}

.search-result-list-item ul:hover::after {
  right: 20px;
  transition: 140ms ease-in-out;
}

.search-result-list-item li.item-cost {
  color: green;
  font-size: 28px;
  font-weight: 500;
  flex: 0 1 auto;
  margin-left: auto;
  text-align: center;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 767px) {
  .search-result-list-item ul {
    padding: 15px 40px 15px 15px;
  }

  .search-result-list-item ul::after {
    right: 19px;
  }
  .search-result-list-item li.item-cost {
    font-size: 24px;
  }
}

.search-result-list-item h3 {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;;
}

.search-result-list-item span {
  font-weight: 300;
  font-size: 12px;
}

.status-bar {
  margin: 20px 0px;
}

a.back-button {
  position: absolute;
  display: block;
  top: 10px;
  left: 20px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

@media (max-width: 767px) {
  a.back-button {
    left: 20px;
    top: 3px;
    height: 30px;
    width: 30px;
  }
}

/* Big picture */

#searchResult {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.result-details {
  position: fixed;
  padding-top: 64px;
  height: 100vh;
  top: 0;
  left: 100%;
  display: flex;
  width: 100%;
  transition: 450ms ease-in-out;
  background-color: white;
}

.result-details.active {
  left: 0;
}

.details-content {
  flex: 0 0 50%;
  position: relative;
  height: 100%;
}

google-map {
  flex: 0 0 50%;
  height: 100%;
}

@media (max-width: 767px) {
  .details-content {
    height: auto;
  }

  .result-details {
    display: block;
    overflow-y: scroll;
    padding-bottom: 120px;
  }

  google-map {
    height: auto;
    padding-bottom: 50%;
    pointer-events: none;
  }
}

.details-content-inner {
  padding: 75px 0;
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .details-content-inner {
    padding: 45px 0 0;
    height: auto;
    display: block;
  }
}

.details-header {
  flex: 1 0 auto;
  padding: 0 20px;
}

.details-header h2 {
  font-size: 48px;
  margin: 15px 0 60px 0;
  letter-spacing: 2px;
}


.details-body {
  flex: 0 1 100%;
  padding: 0 20px;
}

@media (max-width: 767px) {
  .details-header {
    text-align: center;
    border-bottom: 2px solid var(--section-bg-grey);
  }

  .details-header h2 {
    margin-bottom: 30px;
  }
}

.location {
  font-size: 12px;
}

.location h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.address {
  margin-top: 25px;
  margin-bottom: 25px;
}

.address span {
  display: inline-block;
  margin-bottom: 5px;
}

.details-cta {
  flex: 1 0 auto;
  text-align: center;
  padding: 0 20px;
}

.details-cta.mobile {
  display: none;
}

.details-cta .button {
  display: block;
  padding: 16px;
  color: white;
  background-color: var(--light-blue-color);
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.details-cta .button:hover {
  background-color: var(--lighter-blue-color);
}

@media (max-width: 767px) {
  .location h3 {
    font-size: 20px;
  }

  .details-cta {
    display: none;
  }
  .details-cta.mobile {
    margin-top: 40px;
    display: block;
  }
}

/* Dialog */


#close-dialog {
  width: 40px;
  height: 40px;
  position: absolute;
  left: -16px;
  top: -16px;
  background: white;
  border: 1px solid #ededed;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#close-dialog svg {
  height: 20px;
  width: 20px;
  color: hsl(0, 0%, 40%);
}

paper-progress {
  margin: 0 auto;
  /*display: none;*/
}
