:root * {
  box-sizing: border-box;
}

:host {
  --app-secondary-color: #525262;
  --section-bg-grey: #f1f1f1;
  --section-bg-teal: #e1f3fc;
  --secondary-text-color: #848383;

  --white-color: #fff;
  --light-blue-color: #04b8ff;
  --font-color: #0e0048;
  --app-primary-color: var(--light-blue-color);
}

h2 {
  text-align: center;
  font-weight: 600;
  font-size: 30pt;
  margin-bottom: .75em;
}

@media (max-width: 767px) {
  h2 {
    font-size: 30px;
  }
}

section#splash {
  background-size: 400px auto, 120px auto;
  padding: 75px 20px 120px;
  // background: linear-gradient(to bottom, #fff, #eee);
  // background-image: url(../sections/graphics/kiwi.png);
  background-color: var(--light-blue-color);
  background-size: cover;
  background-position: left center;
}

section#splash .input-container {
  text-align: center;
}

section#splash .input-container input {
  padding: 14px 14px;
  font-size: 14px;
}

section#splash .input-container input[type="button"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 6px;
  border: 0;
  color: #FFF;
  text-transform: uppercase;
  padding: 17px 30px;
  flex: 0 0 100px;
  font-weight: 600;
  letter-spacing: 2.5px;
  background-color: var(--font-color);
}

section#splash .input-container input.med {
  width: 25%;
}


section#splash .input-wrapper {
  flex: 1 0 auto;
  padding: 6px 5px 8px;
}

section#splash .input-wrapper input {
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1);
  padding: 16px 14px;
  border: 0;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  display: block;
}

section#splash ul {
  list-style: none;
  line-height: 1.5;
  max-width: 800px;
  margin: -5px auto 0;
  text-align: left;
  padding: 0 15px;
}

section#splash .search-bar {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 10px auto;
  max-width: 800px;
}

section#splash label,
section#splash li {
  display: inline-block;
  line-height: normal;
  vertical-align: top;
  font-size: 11pt;
}

section#splash label {
  margin: 0 5px 0 0;
  font-weight: 400px;
  color: white;
  font-weight: normal;
}

section#splash li {
  color: var(--font-color);
  cursor: pointer;
}

section#splash li:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 767px) {
  section#splash {
    padding: 50px 20px;
  }
  section#splash .search-bar {
    display: block;
  }
  section#splash .input-wrapper {
    padding: 0;
  }
  section#splash .input-wrapper input {
    width: 100%;
  }
  section#splash .search-bar input.search {
    margin: 20px auto;
    width: 100%;
  }
  section#splash paper-autocomplete {
    margin: 20px auto 10px auto;
  }
}