:root * {
  box-sizing: border-box;
}

:host {
  --app-secondary-color: #525262;
  --section-bg-grey: #f1f1f1;
  --section-bg-teal: #e1f3fc;
  --secondary-text-color: #848383;

  --white-color: #fff;
  --light-blue-color: #04b8ff;
  --font-color: #0e0048;
  --app-primary-color: var(--light-blue-color);

  font-family: "Montserrat";
  color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat";
  font-weight: 600;
}

.static-content {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  padding: 90px 20px 150px;
}