:root * {
  box-sizing: border-box;
}

:host {
  /*display: flex;*/
  --app-primary-color: #ee5c56;
  --app-secondary-color: #525262;
  --section-bg-grey: #f1f1f1;
  --section-bg-teal: #e1f3fc;
  --secondary-text-color: #848383;
  color: var(--app-secondary-color);
}

section#discounts {
  font-family: "Montserrat";
}

section#discounts h2 {
  margin: 40px auto;
  font-weight: 600;
  text-align: center;
}

section#discounts table td {
  color: var(--secondary-text-color);
}

section#discounts .graphic-view img {
  display: block;
  height: auto;
  max-height: 400px;
  width: 100%;
  position: relative;
  object-fit: contain;
}

@media(min-width: 768px) {
  section#discounts {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  section#discounts>div {
    box-sizing: border-box;
    min-width: 50%;
    flex: 1 1 50%;
  }
  section#discounts .graphic-view {
    width: 100%;
    height: auto;
    max-height: 100%;
    @apply(--shadow-elevation-3dp);
  }
  section#discounts .table-view {
    min-height: min-content;
  }
  section#discounts .graphic-view img {
    display: block;
    height: 100%;
    max-height: 580px;
    width: 100%;
    position: relative;
    object-fit: cover;
  }
}

section#discounts .table-view {
  padding: 10px 20px 70px 20px;
}

section#discounts table {
  margin: 0 auto;
}

section#discounts table th,
section#discounts table td {
  border-bottom: 1px solid var(--section-bg-grey);
}

section#discounts table th {
  line-height: 2;
  max-width: 150px;
  text-align: left;
  width: 20%;
}

section#discounts table td {
  line-height: 3;
}

section#discounts table td a {
  color: var(--app-primary-color);
  font-weight: 600;
}

section#discounts table td a:hover {
  cursor: pointer;
}